extends ../layouts/main
    
block content
    h2 Log In:
    form(action='/user/login', method='post')
        label Email:
        input(type='email', name='email', placeholder='Enter your Email')
        label Password:
        input(type='password', name='password', placeholder='Enter your Password')
        input.login(type='submit', value='Login')