<article class="chirp">
    <div class="titlebar">
        <a href="#" class="chirp-author">{{author}}</a>
        <span class="chirp-time">{{#if isOwned}}<a href="#" data-id="{{_id}}">Delete</a>{{/if}} {{time}}</span>
    </div>
    <p>{{text}}</p>
</article>