<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")        
        script(src='//code.jquery.com/jquery-1.11.1.min.js')
        link#bootstrap-css(href='//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')        
        script(src='//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')       
        link(rel="stylesheet", href="/public/styles/style.css")
        script(src="/public/scripts/rent.js")
        title Document
    body
    header
        nav.nav-left
            ul.menu
                if user
                    li
                        a(href="/") Home
                   
                    if user.roleNames.includes('Admin')
                        li
                            a(href="/cars/add") Add New
                    li
                        a(href="/cars/all") Available Cars
            
                else
                    li
                        a(href="/") Home
                    li
                        a(href="/cars/all") Available Cars
        aside.nav-right
            ul.menu
                if user
                    li
                        a(href="/user/profile") #{user.username}
                    li
                        a(href="/user/logout") Logout
                else
                    li
                        a(href="/user/login") Login
                    li
                        a(href="/user/register") Register

    main
        if error
            .error-box
                span=error
        if success
            .success-box
                span=success
        block content
    script.
        calcTotal()

    footer
        p &copy; Denkata's Car Renting Service.