*{
    margin: 0;
    padding: 0;
}

body{
    width: 890px;
    margin:50px auto;
    font-family: Calibri Light, Verdana, sans-serif;
}

main{
    border: 1px solid #a5b2b3;
    text-align: center;
    padding-bottom: 10px;
}

article{
    display: inline-block;
    width: 24%;
    vertical-align: top;

}

img{
    width: 100%;
    margin-bottom: 20px;
}

a:hover{
    opacity: 0.4;
}

h2{
    padding: 20px 0;
}

p{
    text-align: left;
}