extends ../layouts/main

block content
    .col-md-4
            .login-panel.panel.panel-default
                .panel-heading
                    h3.panel-title Register
                .panel-body
                    form(role='form', action='/user/register', method='post')
                        fieldset
                            .form-group
                                input.form-control(placeholder='Username', name='username', type='text', autofocus='', value=username)
                            .form-group
                                input.form-control(placeholder='Password', name='password', type='password', value='')
                            .form-group
                                input.form-control(placeholder='Repeat Password', name='repeatPassword', type='password', value='')
                            .form-group
                                input.form-control(placeholder='First Name', name='firstName', type='text', value=firstName)
                            .form-group
                                input.form-control(placeholder='Last Name', name='lastName', type='text', value=lastName)
                            .form-group
                                input.form-control(placeholder='Age', name='age', type='number', value=age)                         
                                
                            input.btn.btn-sm.btn-success(type="submit", value='Register')
    br      