<div class="container body-content span=8 offset=2">
    <div class="well">
        <legend>Account Details</legend>
        <div>
            <p>Login Email: {{user.email}}</p>
            <p>Full Name: {{user.fullName}}</p>
        </div>
    </div>
</div>
