doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title LogIn
        link(rel='stylesheet', href='/public/styles/style.css')
    body
        nav            
            .left-container
                ul
                    li
                        a(href='/flights/') Flights
                    if user
                        li
                            a(href='/user/myTickets') My Tickets   
                    if !user  
                        li
                            a(href='/') Login
                        li
                            a(href='/user/register') Register
            if user
                .right-container
                    span Welcome, #{user.name} |
                    a.log-out(href='/user/logout') Logout
                    a(href='/cart/get')
                        img.cart(src='/public/img/cart.png', alt='')
        main
            - var messages = getMessages()
            if messages.error
                .error-box
                    span=messages.error
            if messages.success
                .success-box
                    span=messages.success        
            block content  
            footer SoftUni Airlines