@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css);

label, input[type=submit], h1 {
    text-transform: capitalize;
}

.panel-default {
    margin: 0 auto;
    background: white;
}

.error {
    color: red;
    text-transform: uppercase;
    font-weight: 900;
}